.wall {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.wall-header {
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;

  &-button-logout {
    text-decoration: none;
    text-align: center;
    height: 100%;
    line-height: 30px;
    width: 32%;
    border: 1px solid darkgrey;
  }

  &-search {
    flex: 1;
    display: flex;
    align-items: center;
    border-radius: 20px;
    border: 1px solid darkgrey;
    overflow: hidden;
    padding: 0px 5px;
    height: 30px;
    margin-left: calc((100vw - 96% - 100px - 6px) / 2);

    &-icon {
      margin: 0px 5px;
    }

    > input {
      flex: 1;
      border: none;

      &:focus {
        outline: none;
      }
    }
  }
}

.wall-content {
  height: 100%;
  flex: 1;
  padding: 0px 50px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
  overflow-y: auto;
}
