.login-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.login {
  width: 45vw;
  max-width: 350px;
  display: flex;
  flex-direction: column;

  padding: 20px;
  box-shadow: 0px 2px 5px darkgrey;
  border: 1px solid grey;
}
.login input {
  width: 250px;
  padding: 5px;
}

.login-entry {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0px;
}
