html,body {
  overflow-y: hidden;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.fill {
  flex: 1;
  display: flex;
  flex-direction: column;
}
