.wall {
  display: flex;
  flex-direction: column;

  padding: 10px 50px;
}

.wall-header {
  height: 30px;
  display: flex;
  justify-content: space-between;

  flex: 1;
  align-items: center;

  &-button-logout {
    flex: 0.3;
    text-decoration: none;
    text-align: center;
    height: 100%;
    line-height: 30px;
    width: calc(25vw - 2 * 10px - 10px);
    border: 1px solid darkgrey;
  }

  &-search {
    flex: 0.6;
    display: flex;
    border-radius: 20px;
    border: 1px solid darkgrey;
    overflow: hidden;
    padding: 5px;

    &-icon {
      margin: 0px 5px;
    }

    > input {
      flex: 1;
      border: none;

      &:focus {
        outline: none;
      }
    }
  }
}

.wall-content {
  flex: 1;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;

  &-post {
    color: black;
    text-decoration: none;
    text-align: center;
    width: calc(25vw - 2 * 10px - 10px);
    padding: 10px;
    border-left: 1px solid black;
    border-right: 1px solid black;

    cursor: pointer;
    &:hover > &-inner {
      background: whitesmoke;
    }

    &-inner {
      border: 1px solid black;
      height: 100%;
    }
  }
}

@media screen and (min-width: 750px) {
  .wall-content-post {
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      padding-top: 20px;
      border-top: 1px solid black;
    }

    &:nth-last-child(1),
    &:nth-last-child(2),
    &:nth-last-child(3) {
      border-bottom: 1px solid black;
      padding-bottom: 20px;
    }

    &.hidden {
      height: 0px;
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }
}
